*.haenoe.xyz {
	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

	@vaultwarden host vaultwarden.{$BASE_DOMAIN} 
	handle @vaultwarden {
		reverse_proxy vaultwarden:80
	}

	@home host home.{$BASE_DOMAIN}
	handle @home {
		reverse_proxy homer:8080
	}

	@uptime host uptime.{$BASE_DOMAIN}
	handle @uptime {
		reverse_proxy uptime:3001
	}

	@pihole host pihole.{$BASE_DOMAIN}
	handle @pihole {
		reverse_proxy 192.168.178.71:7070
	}

	@portainer host portainer.{$BASE_DOMAIN}
	handle @portainer {
		reverse_proxy portainer:9000
	}

	handle {
		redir https://home.haenoe.xyz/#not-found
	}
}
