*.{$BASE_DOMAIN} {
	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
	}

    @access-control-header {
        not host budget.{$BASE_DOMAIN}
    }

	header @access-control-header {
		Access-Control-Allow-Origin https://home.{$BASE_DOMAIN}
	}

    encode gzip

    header / {
        # Enable HTTP Strict Transport Security (HSTS)
        Strict-Transport-Security "max-age=31536000;"
        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        X-XSS-Protection "0"
        # Disallow the site to be rendered within a frame (clickjacking protection)
        X-Frame-Options "DENY"
        # Prevent search engines from indexing (optional)
        X-Robots-Tag "noindex, nofollow"
        # Disallow sniffing of X-Content-Type-Options
        X-Content-Type-Options "nosniff"
        # Server name removing
        -Server
        # Remove X-Powered-By though this shouldn't be an issue, better opsec to remove
        -X-Powered-By
        # Remove Last-Modified because etag is the same and is as effective
        -Last-Modified
    }

	@vaultwarden host vault.{$BASE_DOMAIN} 
	handle @vaultwarden {
		reverse_proxy vaultwarden:80 {
            	header_up X-Real-IP {remote_host}
        }
	}

	@home host home.{$BASE_DOMAIN}
	handle @home {
		reverse_proxy homer:8080
	}

	@uptime host uptime.{$BASE_DOMAIN}
	handle @uptime {
		reverse_proxy uptime:3001
	}

	@portainer host portainer.{$BASE_DOMAIN}
	handle @portainer {
		reverse_proxy portainer:9000
	}

	@pdf host pdf.{$BASE_DOMAIN}
	handle @pdf {
		reverse_proxy stirling-pdf:8080
	}

    @grafana host grafana.{$BASE_DOMAIN}
    handle @grafana {
        reverse_proxy grafana:3000
    }

    @actual-budget host budget.{$BASE_DOMAIN}
    handle @actual-budget {
        reverse_proxy actual-budget:5006
    }

	# @pihole host pihole.{$BASE_DOMAIN}
	# handle @pihole {
	#	 reverse_proxy 192.168.178.71:7070
	# }

	handle {
		redir https://home.{$BASE_DOMAIN}/#not-found
	}
}
